@{
    ViewBag.Title = "Home Page";
}
@using BookControl.Models
@model IEnumerable<BookView>


<div class="input-group mb-3">
    <input type="text"id="search" class="form-control" placeholder="Name">
    <div class="input-group-btn">
        <input type="button" name="name" value="Search" onclick="Search()" class="btn btn-success" />
    </div>
</div>

<table class="table" id="myTable">
    <tr>
        <th onclick="SortTable(0,true)">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th onclick="SortTable(1,false)">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th onclick="SortTable(2,false)">
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th onclick="SortTable(3, false)">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th onclick="SortTable(4,true)">
            @Html.DisplayNameFor(model => model.Prise)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prise)
            </td>
            <td class="btn-group">
                <input type="button" id="Edit" value="Edit" onclick="EditBook(@item.Id)" class="btn btn-info" />
                <input type="button" id="Delete" value="Delete" onclick="DeleteBook(@item.Id)" class="btn btn-danger" />
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/MyScript/WorkWithTable.js"></script>


